
@{
    ViewBag.Title = "ImportarDesdeTxt";
}

<div class="jumbotron">
    <h2 class="text-center">Importar desde Txt</h2>
</div>

<div class="row">
    Se leyeron 100 filas de Productos
    <ul class="list-group">
        <li class="list-group-item">80 Productos Existentes</li>
        <li class="list-group-item">10 Productos Inexistentes</li>
        <li class="list-group-item">5 Filas incorrectas de Productos</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
</div>