@model List<SGO_Ventas.Models.ViewModels.CompraDetalleViewModel>
@{
    Layout = null;
}

<div>
    @foreach (var item in Model)
    {
        <div style="color:blue;">
            @item.CompraDetalleId @item.ProductoId @item.Precio
        </div>
    }
</div>

