@model SGO_Ventas.Models.ViewModels.IndexTiposDocumento

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2 class="text-center">Tipos de Documento</h2>
</div>

@Html.ActionLink("Nuevo Tipo Documento", "Create")
<br />
<table class="table  table-striped">
    <tr>
        <th>
            Tipo de Documento
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TiposDocumento)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<!--Paginador-->
@{Html.RenderPartial("_paginador", Model);}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que queire eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnEliminar" data-eliminar="">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            function inicio() {
                $.get('TiposDocumento/Index/');
            }

            $('.eliminar').click(function () {
                var idEliminar = $(this).attr("data-id");
                $("#btnEliminar").attr("data-eliminar", idEliminar);
                $("#myModal").modal();
            });

            $("#btnEliminar").click(function () {
                var idEliminar = $(this).attr("data-eliminar");
                $.ajax({
                    url: '/TiposDocumento/Eliminar',
                    type: 'get',
                    data: { id: idEliminar },
                    success: function (result) {
                        console.log("Exito");
                        $("#" + idEliminar).remove();
                        $("#myModal").modal('hide');
                    },
                    error: function () {
                        $("#myModal").modal('hide');
                        console.log("fallo");
                    }
                });
                inicio();
            });
        });
    </script>
}
